# Daily Motivation Quotes

## Business Understanding

In our increasingly fast-paced world, people encounter numerous challenges and responsibilities on a daily basis. To address the need for consistent motivation, we propose a data science project that revolves around curating and delivering carefully selected quotes. These quotes, extracted from diverse sources including historical figures, popular literature, and prominent personalities, will serve as a source of encouragement, reflection, and empowerment for individuals.

#### Objectives:

The primary objectives of this project are as follows:
1.	Curate Inspirational Quotes:
Gather a diverse collection of quotes from the Good Reads website, which boasts an extensive compilation of quotes spanning various genres and themes.
2.	Daily Motivational Updates: Develop a system to provide users with daily updates featuring a thoughtfully chosen quote. These updates will cater to different areas of life, ensuring a comprehensive and relatable experience.
3.	Tag-based Grouping: Implement a categorization mechanism that tags each quote based on its thematic content. This grouping will enable users to easily identify quotes that resonate with their specific preferences or current situations.

## Data Understanding

•	Source quotes from the Good Reads website, exploring the wide array of authors and themes available.

•	Analyze the structure of the collected data, including metadata such as author names, publication dates, and associated tags.

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import scrapy 
#from pathlib import path

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### 3.	Data Preparation
After obtaining the data we intend to use, we wil now open it here and begin the data cleaning process before proceeding to analysis.

In [5]:
# Reading the data
quotes = pd.read_csv(r'Quotes.csv', index_col=0)

In [6]:
quotes

,Author Name,Quote,Tags
0,Oscar Wilde,“Be yourself; everyone else is already taken.”...,"['attributed-no-source', 'be-yourself', 'gilbe..."
1,Marilyn Monroe,"“I'm selfish, impatient and a little insecure....","['attributed-no-source', 'best', 'life', 'love..."
2,Albert Einstein,“Two things are infinite: the universe and hum...,"['attributed-no-source', 'human-nature', 'humo..."
3,Frank Zappa,"“So many books, so little time.” ― F...","['books', 'humor']"
4,Marcus Tullius Cicero,“A room without books is like a body without a...,"['attributed-no-source', 'books', 'simile', 's..."
...,...,...,...
2995,"A.A. Milne,",“I'm not lost for I know where I am. But howev...,NaN
2996,Henry David Thoreau,“Dreams are the touchstones of our characters....,NaN
2997,"Cassandra Clare,",“Black hair and blue eyes are my favorite comb...,NaN
2998,"Nicholas Sparks,",“In times of grief and sorrow I will hold you ...,NaN
2999,"Bill Watterson,",“People think it must be fun to be a super gen...,NaN

We observe that the tags column did not get all the tags for the quotes and we will need to fill them up or remove them if that will not be possible. 
Although removing them will really affect the number of quotes availabe for us to use, therefore removing them will be a last resort. 
We will attempt to fill them based on the author.

In [7]:
# Checking actual number of missing values. 
quotes.isna().sum()

Author Name      0
Quote            0
Tags           502
dtype: int64

In [10]:
# checking contents of the quote column. 
quotes['Quote'][3]

'“So many books, so little time.”      ―      Frank Zappa'

In [9]:
quotes.groupby('Author Name').sum()

,Quote,Tags
Author Name,,
"A. A. Milne,",“It is more fun to talk with someone who doesn...,['antolini']
A.A. Milne,"“Weeds are flowers, too, once you get to know ...","['happiness', 'hope', 'inspirational', 'new-ye..."
"A.A. Milne,","“Piglet sidled up to Pooh from behind. ""Pooh!""...",['live-death-love']['activism']['dave-matthews...
A.J. Cronin,"“Worry never robs tomorrow of its sorrow, but ...",['writing']
Abigail Van Buren,“The best index to a person's character is how...,['life']
...,...,...
جلال الدين الرومي,“لا تجزع من جرحك، وإلا فكيف للنور أن يتسلل إلى...,0
عباس محمود العقاد,“ليس هناك كتابا أقرأه و لا أستفيد منه شيئا جدي...,0
غسان كنفاني,“!لك شيء في هذا العالم.. فقم” ― غسان...,['identity']
محمود درويش,“و كن من أنتَ حيث تكون و احمل عبءَ قلبِكَ وحده...,"['disappointment', 'dorian-gray', 'marriage', ..."
"مصطفى محمود,",“لن تكون متدينا إلا بالعلم ...فالله لا يعبد با...,"['franz-kafka']['friends', 'life']['annabeth-c..."